@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(#1f3756, #141539);
  font-family: "Barlow Semi Condensed", sans-serif;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 2rem;
  padding: 1rem;
  border: 3px solid #606e85;
  border-radius: 1rem;
}
.header__logo {
  height: 100%;
}
.header__score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 1rem;
  background-color: white;
  border-radius: 0.6rem;
}
.header__score-box__text {
  color: #2a46c0;
  font-size: 1rem;
}
.header__score-box__number {
  color: #3b4363;
  font-size: 4rem;
  font-weight: 700;
  line-height: 0.8;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main.versus {
  flex-direction: column;
}
.main__pentagon {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-image: url("/images/bg-pentagon.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.main__pentagon__row1 {
  flex: 1;
  display: flex;
  justify-content: center;
}
.main__pentagon__row2 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.main__pentagon__row3 {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}
.main .players-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scissors, .spock, .paper, .lizard, .rock {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 140px;
  height: 140px;
}

.scissors {
  position: relative;
  top: -50px;
  background: radial-gradient(#ec9e0e, #eca922);
}
.scissors--choice {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background: radial-gradient(#ec9e0e, #eca922);
}

.spock {
  position: relative;
  top: -40px;
  left: -50px;
  background: radial-gradient(#40b9ce, #52bed1);
}
.spock--choice {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background: radial-gradient(#40b9ce, #52bed1);
}

.paper {
  position: relative;
  top: -40px;
  right: -50px;
  background: radial-gradient(#4865f4, #5671f5);
}
.paper--choice {
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background: radial-gradient(#4865f4, #5671f5);
}

.lizard {
  position: relative;
  bottom: -30px;
  left: -30px;
  background: radial-gradient(#834fe3, #8c5de5);
}
.lizard--choice {
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background: radial-gradient(#834fe3, #8c5de5);
}

.rock {
  position: relative;
  bottom: -30px;
  right: -30px;
  background: radial-gradient(#dc2e4e, #dd405d);
}
.rock--choice {
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background: radial-gradient(#dc2e4e, #dd405d);
}

.white-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top: 6px solid #cccccc;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.empty {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin: 15px;
}

.player, .house {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.player h2, .house h2 {
  margin-bottom: 2rem;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result p {
  font-size: 3rem;
}
.result a {
  margin-top: 2rem;
  padding: 1rem;
  border: 3px solid #606e85;
  border-radius: 0.6rem;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  transition: 0.3s;
}
.result a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.footer__attribution {
  font-size: 1rem;
  text-align: center;
}
.footer__attribution a {
  color: #3e52a3;
}
.footer__rules-btn {
  padding: 0.6rem 2rem;
  background-color: #141539;
  border: 2px solid white;
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */