// COLORS
$scissorsGradient: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$paperGradient: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$rockGradient: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
$lizardGradient: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
$cyanGradient: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

$bodyBackground : radial-gradient(hsl(214, 47%, 23%), hsl(238, 48%, 15%));

$darkText : hsl(229, 25%, 31%);
$scoreText : hsl(229, 64%, 46%);
$headerOutline : hsl(217, 16%, 45%);

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: $bodyBackground;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
}


// HEADER
.header {
    display: flex;
    justify-content: space-between;
    width: 50%;
    min-width: 300px;
    margin: 2rem;
    padding: 1rem;
    border: 3px solid $headerOutline;
    border-radius: 1rem;

    &__logo {
        height: 100%;
    }

    &__score-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        min-width: 100px;
        padding: 1rem;
        background-color: white;
        border-radius: .6rem;

        &__text {
            color: $scoreText;
            font-size: 1rem;
        }

        &__number {
            color: $darkText;
            font-size: 4rem;
            font-weight: 700;
            line-height: .8;
        }
    }
}



// MAIN
.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &.versus {
        flex-direction: column;
    }

    &__pentagon {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 400px;
        background-image: url('/images/bg-pentagon.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        &__row1 {
            flex: 1;
            display: flex;
            justify-content: center;
        }

        &__row2 {
            flex: 1;
            display: flex;
            justify-content: space-between;
        }

        &__row3 {
            flex: 1;
            display: flex;
            justify-content: space-evenly;
        }
    }

    & .players-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.scissors, .spock, .paper, .lizard, .rock {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.scissors {
    position: relative;
    top: -50px;
    background: $scissorsGradient;

    &--choice {
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        background: $scissorsGradient;
    }
}
.spock {
    position: relative;
    top: -40px;
    left: -50px;
    background: $cyanGradient;

    &--choice {
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        background: $cyanGradient;
    }
}
.paper {
    position: relative;
    top: -40px;
    right: -50px;
    background: $paperGradient;

    &--choice {
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        background: $paperGradient;
    }
}
.lizard {
    position: relative;
    bottom: -30px;
    left: -30px;
    background: $lizardGradient;

    &--choice {
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        background: $lizardGradient;
    }
}
.rock {
    position: relative;
    bottom: -30px;
    right: -30px;
    background: $rockGradient;

    &--choice {
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        background: $rockGradient;
    }
}

.white-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: 6px solid darken($color: white, $amount: 20);
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

.empty {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin: 15px;
}

.player, .house {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;

    & h2 {
        margin-bottom: 2rem;
    }
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
        font-size: 3rem;
    }

    & a {
        margin-top: 2rem;
        padding: 1rem;
        border: 3px solid $headerOutline;
        border-radius: .6rem;
        text-decoration: none;
        color: white;
        font-size: 1.6rem;
        transition: .3s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
}

.close {
    cursor: pointer;
}

.rules-modal {
    display: none;

    &.show {
        display: block;
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__modal {
        display: none;

        &.show {
            display: block;
            width: 500px;
            background-color: white;
            border-radius: .6rem;
            padding: 2rem;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            color: grey;
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    
        & img {
            width: 100%;
        }
    }

}

// FOOTER
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;

    &__attribution {
        font-size: 1rem;
        text-align: center;
    
        & a {
            color: hsl(228, 45%, 44%);
        }
    }

    &__rules-btn {
        padding: .6rem 2rem;
        background-color: hsl(238, 48%, 15%);
        border: 2px solid white;
        border-radius: .6rem;
        font-size: 1rem;
        font-weight: 600;
        color: white;
        cursor: pointer;
    }
}


@media screen and (max-width: 650px) {
    .rules-modal__modal {
        &.show {
            width: 400px;
            padding: 1rem;
        }
        &__header {
            font-size: 1rem;
            padding: 0;
            margin-bottom: 1rem;
        }
    }
    .footer {
        flex-direction: column-reverse;

        &__attribution {
            font-size: .7rem;
        }

        &__rules-btn {
            margin: 2rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .player, .house {
        margin: .6rem;
    
        & h2 {
            margin-bottom: 1rem;
            font-size: 1.1rem;
        }
    }

    .result {
        & p {
            font-size: 2rem;
        }
    
        & a {
            margin-top: 2rem;
            padding: 1rem;
            font-size: 1.6rem;
        }
    }
}

@media screen and (max-width: 450px) {
    .rules-modal__modal.show {
        width: 300px;
    }
}