<footer class="footer">
    <div class="footer__attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
        Coded by <a href="https://github.com/BenjaminChoron/rock-paper-scissors-lizard-spock" target="_blank">Benjamin Choron</a>.
    </div>
    <button class="footer__rules-btn">RULES</button>
</footer>
<script src="/js/script.js"></script>
</body>
</html>