<%- include('partials/header') %> 

<main class="main">
    <div class="main__pentagon">
        <div class="main__pentagon__row1">
            <a href="/scissors">
                <div class="scissors">
                    <div class="white-bg">
                        <img src="/images/icon-scissors.svg" alt="">
                    </div>
                </div>
            </a>
        </div>
        <div class="main__pentagon__row2">
            <a href="/spock">
                <div class="spock">
                    <div class="white-bg">
                        <img src="/images/icon-spock.svg" alt="">
                    </div>
                </div>
            </a>
            <a href="/paper">
                <div class="paper">
                    <div class="white-bg">
                        <img src="/images/icon-paper.svg" alt="">
                    </div>
                </div>
            </a>
        </div>
        <div class="main__pentagon__row3">
            <a href="/lizard">
                <div class="lizard">
                    <div class="white-bg">
                        <img src="/images/icon-lizard.svg" alt="">
                    </div>
                </div>
            </a>
            <a href="/rock">
                <div class="rock">
                    <div class="white-bg">
                        <img src="/images/icon-rock.svg" alt="">
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>

<div class="rules-modal">
    <div class="rules-modal__modal">
        <header class="rules-modal__modal__header">
            <h3>RULES</h3>
            <span class="close">❌</span>
        </header>
        <img src="/images/image-rules-bonus.svg" alt="">
    </div>
</div>

<%- include('partials/footer') %> 