<%- include('partials/header') %> 

<header class="header">
    <img class="header__logo" src="/images/logo-bonus.svg" alt="Rock, Paper, Scissors, Lizard, Spock">
    <div class="header__score-box">
        <span class="header__score-box__text">SCORE</span>
        <span class="header__score-box__number">-</span>
    </div>
</header>

<main class="main">
    <div class="main__pentagon">
        <div class="main__pentagon__row1">
            <a href="/scissors">
                <div class="scissors">
                    <div class="white-bg">
                        <img src="/images/icon-scissors.svg" alt="">
                    </div>
                </div>
            </a>
        </div>
        <div class="main__pentagon__row2">
            <a href="/spock">
                <div class="spock">
                    <div class="white-bg">
                        <img src="/images/icon-spock.svg" alt="">
                    </div>
                </div>
            </a>
            <a href="/paper">
                <div class="paper">
                    <div class="white-bg">
                        <img src="/images/icon-paper.svg" alt="">
                    </div>
                </div>
            </a>
        </div>
        <div class="main__pentagon__row3">
            <a href="/lizard">
                <div class="lizard">
                    <div class="white-bg">
                        <img src="/images/icon-lizard.svg" alt="">
                    </div>
                </div>
            </a>
            <a href="/rock">
                <div class="rock">
                    <div class="white-bg">
                        <img src="/images/icon-rock.svg" alt="">
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>

<%- include('partials/footer') %> 